<!-- Navbar -->
<nav class="fh5co-nav" role="navigation">
    <div class="top-menu" id="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a [routerLink]="['/users']"><i class="fa fa-globe"> </i>Angular8CRUD<span>.</span></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
                        <li><a routerLink="/adduser" routerLinkActive="active">Add User</a></li>
                        <li><a routerLink="#" routerLinkActive="active">Edit User</a></li>
                    </ul>
                </div>
            </div>				
        </div>
    </div>
</nav>