<div class="row">
    <div id="title" class="col-md-12 text-center mt-5">
        <h1>Add Details</h1>
        <hr/>
    </div>
</div>
<div [hidden]="submitted" id="form" class="container mt-5 mb-5">
<form (ngSubmit) = "onSubmit()">
    <div class="row form-group mt-5">
        <div class="col">
            <label for="fname">Firstname</label>
            <input type="text" id="fname" name="fname" class="form-control" [(ngModel)]="user.fname" placeholder="John" required>
        </div>
        <div class="col">
            <label for="lname">Lastname</label>
            <input type="text" id="lname" name="lname" class="form-control" [(ngModel)]="user.lname" placeholder="Wick" required>
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <label for="dob">Date of Birth</label>
             <input type="date" class="form-control" id="dob" name="dob" [(ngModel)]="user.dob" required>
        </div>
        <div class="col">
            <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" placeholder="johnwick@example.com" required>
        </div>  
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" name="address" [(ngModel)]="user.address" placeholder="123 Main St" required>
    </div>
    <div class="form-group text-center mt-5">
        <button type="submit" class="btn btn-outline-success mb-2" (click)="onSubmit()"><i class="fa fa-plus"></i> Add</button>
        <button class="btn btn-outline-primary mb-2" [routerLink]="['/users']"><i class="fa fa-times"></i> Cancel</button>
    </div>
  </form>
</div>
<div class="text-center" [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-outline-success" (click)="newUser()"><i class="fa fa-plus-circle"></i>Add More!</button>
  <button class="btn btn-outline-primary" [routerLink]="['/users']"><i class="fa fa-times"></i> Cancel</button>
</div>